# App
PORT=

# Prisma
DATABASE_URL=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

# Redis
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# Mail (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=1209600
JWT_EMAIL_VERIFICATION_SECRET=
JWT_EMAIL_VERIFICATION_EXPIRES_IN=1800


# ETC
EMAIL_CODE_TTL=180
EMAIL_CODE_MAX_SEND=5
EMAIL_CODE_SEND_WINDOW=3600
EMAIL_CODE_MAX_ATTEMPT=5
LOGIN_MAX_FAIL_COUNT=5
LOGIN_LOCK_DURATION=1800
FIRST_USE_TTL=2592000
