# App
PORT=

# Prisma
DATABASE_URL=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

# Redis
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# Mail (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
